.banner {
    background-image: url(../../img/banner.jpg);
    height: calc(100vh - 46px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, .7);
    background-blend-mode: overlay;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner strong {
    color: #83b735;
}

.as {
    width: 100px;
    height: 2px;
    background-color: #83b735;
}

.as-main {
    font-size: 30px;
    margin: 8px 10px 0;
}